# load palette config
load 'styles.cfg'
# load settle disk presets
load 'run-paths-and-times.cfg'
load 'unit-conversions.cfg'

set title 'Entropy in merger for hot Nuclear-theory Equations of State'
set xlabel 't - t_settledisk (ms)'
set ylabel 'Entropy (k_B)'

set ytics nomirror

set key top right

data='MatterObservers/MassAvgs.dat'

set macros
col2="$5/$4*1000"
e=""

load 'sd-plot-args.cfg'


