# load palette config
load 'styles.cfg'
# load presets
load 'plunge-params.cfg'
load 'settledisk-params.cfg'
load 'unit-conversions.cfg'

set title 'GhCe Constraints for Barotropic (Cold, Beta-Eq) EOSs'
set xlabel 't - t_plunge (ms)'
set ylabel 'Value'

set ytics nomirror

set key top right

data='Constraints/GhCe.dat'

set macros
col2="$2/$6"

load 'plot-args.cfg'
