# load palette config
load 'styles.cfg'
# load presets
load 'run-paths-and-times.cfg'
load 'unit-conversions.cfg'

set title 'Neutron star mass in plunge-merger for hot Nuclear-theory EOSs'
set xlabel 't - t_plunge (ms)'
set ylabel 'Rest Mass (M_sun)'

set ytics nomirror

set key bottom left


data='MatterObservers/MassAvgs.dat'

set macros
col2="$4"
e=""

load 'plot-args.cfg' 
