#set terminal cairolatex standalone pdf size 16cm, 10.5cm dashed transparent \
#monochrome header '\newcommand{\hl}[1]{\setlength{\fboxsep}{0.75pt}\colorbox{white}{#1}}'

# fiducial density vertical asymptote
rho_fid_cgs=5.01187e14
set arrow  from rho_fid_cgs,min_gamma_geo to rho_fid_cgs,max_gamma_geo nohead lt 0
set label 1 at  1.25*rho_fid_cgs,3.5 '\small $\rho_{\rm fid}$' left rotate by 90 back

# saturation density vertical asymptote
rho_sat_cgs=2.7e14
set arrow  from rho_sat_cgs,min_gamma_geo to rho_sat_cgs,max_gamma_geo nohead lt 0
set label 2 at  0.75*rho_sat_cgs,3.5 '\small $\rho_{\rm sat}$' left rotate by 90 front

# saturation density vertical asymptote
rho_c_cgs=6.17515138e17*0.00136884
set arrow  from rho_c_cgs,min_gamma_geo to rho_c_cgs,max_gamma_geo nohead lt 0
set label 2 at  0.75*rho_sat_cgs,3.5 '\small $\rho_{\rm c}$' left rotate by 90 front

# gamma = 4/3 barotropic line
set arrow  from min_rho_geo*density_geo_cgs,4./3. to max_rho_geo*density_geo_cgs,4./3. nohead lt 0
set label 3 at  2*rho_fid_cgs,4./3.5 '\small $\tilde{\Gamma} = 4/3$' left rotate by 0 front

