reset

#set term epslatex color solid 10
set term pngcairo

print "Making M vs. R plot"
set output 'images/tov-mass-vs-radius.png'
load 'tov-mass-vs-radius.cfg'
set output

print "Making P vs. rho plot at 0.1 MeV and beta-eq"
set output 'images/pressure-vs-density.png'
load 'pressure-vs-density.cfg'
set output

print "Making P vs. rho plot at 5 MeV and 0.05 Y_e"
set output 'images/pressure-vs-density-T5-Ye0.05.png'
load 'pressure-vs-density-T5-Ye0.05.cfg'
set output

print "Making P vs. rho plot at 10 MeV and 0.05 Y_e"
set output 'images/pressure-vs-density-T10-Ye0.05.png'
load 'pressure-vs-density-T10-Ye0.05.cfg'
set output

set term x11

print "All done"
