# load palette config
load '../styles.cfg'
# load presets
load '../run-paths-and-times.cfg'
load '../unit-conversions.cfg'

set title 'TOV Sequences from Cold, Beta-Eq Slices of Equations of State'
set xlabel 'central density (G=c=Msun=1)'
set x2label 'central density (g/cm^3)'
set ylabel 'areal radius (km)'
unset y2label

min_rho_geo=1e-4
max_rho_geo=8e-3
set xrange [min_rho_geo:max_rho_geo]
set x2range [min_rho_geo*density_geo_cgs:max_rho_geo*density_geo_cgs]
set xtics nomirror
set x2tics nomirror
set logscale x
set logscale x2

max_r_in_km=19
set yrange [*:max_r_in_km]
unset y2tics
set ytics mirror
unset logscale y

set key top right

set macros
col1="$1"
col2="$3*length_geo_mks*1e-3"

e=""

prefix='EOSVis/maketovsequence-'
suffix='_ColdTable.dat'

load 'plot-args.cfg'

